!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", 
          http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", 
          content: "width=device-width, initial-scale=1"}
    %link{:rel => "stylesheet", 
          :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}/
    %title= current_page.data.title || "Dr. Jorge Polanco"
    = stylesheet_link_tag "application"

  %body{class: page_classes}
    = yield
    = javascript_include_tag "vendor/jquery"
    = javascript_include_tag "vendor/imageScroll"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "vendor/particles"
    = javascript_include_tag "vendor/charcycle"
    = javascript_include_tag "vendor/chaffle"
    = javascript_include_tag "chaffle"
    = javascript_include_tag "particles"
    = javascript_include_tag "scroll"
    = javascript_include_tag "main"
    = javascript_include_tag "parallax"

    
