/ Variables

- portfolio = "assets/images/photos/portfolio/"
- git       = "https://github.com/drjorgepolanco/"
- me        = "http://www.drjorgepolanco.com/"
- ruby      = "mks/tree/master/ruby/"
- js        = "mks/tree/master/immersive/javascript/"


/ ==============================================================================

.header.c
  %h2
    %a.text{href: "#"}
      PORTFOLIO
.sub-header-container
  %h4.sub-header
    Solid
    %br/
    Cutting-edge
    %br/
    Fundamentals
#project
  .project.wow.bounceInLeft
    .project-image
      %a{href: "#"}
        %img{src: "#{portfolio}heroica-square.jpg", alt: "My Personal Website"}/
    .project-button
      %h3 Heroica
      %a.more{href: "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Heroica
      %h4 My Personal Website
      %p Haml, Sass, CoffeeScript & jQuery.
      %br/
      %p.repo
        %a{href: "#{git}portfolio", target: "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{href: "#"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInDown
    .project-image
      %a{href: "http://talentcrop.herokuapp.com/", target: "_blank"}
        %img{src: "#{portfolio}talentcrop-square.jpg", alt: "TalentCrop"}/
    .project-button
      %h3 TalentCrop
      %a.more{href: "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 TalentCrop
      %h4 Photo-Sharing Social Network
      %p Rails 4, RSpec, HTML5 & CSS3.
      %br/
      %p.repo
        %a{href: "#{git}contest", target: "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{href: "http://talentcrop.herokuapp.com/", target: "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInRight
    .project-image
      %a{href: "#{git}node/tree/master/chat_room", target: "_blank"}
        %img{src: "#{portfolio}chat-room.png", alt: "The Chat Room"}/
    .project-button
      %h3 Chat Room
      %a.more{href: "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Chat Room
      %h4 Online real-time Chatroom
      %p Node.js, Express.js, Socket.io, Redis, HTTP & Jade
      %br/
      %p.repo
        %a{href: "#{git}node/tree/master/chat_room", target: "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
  .project.wow.bounceInLeft
    .project-image
      %a{href: "#{me}secret_diary/", target: "_blank"}
        %img{src: "#{portfolio}secret-diary-square.jpg", alt: "Secret Diary"}/
    .project-button
      %h3 Secret Diary
      %a.more{href: "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Secret Diary
      %h4 Online Personal Diary
      %p PHP, HTML5, CSS3.
      %br/
      %p.repo
        %a{href: "#{git}web_dev_course/tree/master/my_websites/mysql/secret_diary", 
           target: "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{href: "#{me}secret_diary/", target: "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInDown
    .project-image
      %a{href: "#{me}js_apps/music-videos/", target: "_blank"}
        %img{src: "#{portfolio}music-videos-square.jpg", alt: "Music Videos"}/
    .project-button
      %h3 Playlist Manager
      %a.more{href: "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Playlist Manager
      %h4 Music Videos Playlist Manager
      %p JavaScript, jQuery, Riot.js, HTML5 & CSS3.
      %br/
      %p.repo
        %a{href: "#{git}#{js}riot_js/music-videos", 
           target: "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{href: "#{me}js_apps/music-videos/", target: "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInRight
    .project-image
      %a{href: "#{git}#{ruby}task-manager", target: "_blank"}
        %img{src: "#{portfolio}project-manager-square.png", alt: "Task Manager"}/
    .project-button
      %h3 Project Manager
      %a.more{href: "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Project Manager
      %h4 Project Management Ruby Gem
      %p Ruby, RSpec.
      %br/
      %p.repo
        %a{href: "#{git}#{ruby}task-manager", target: "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
  .project.wow.bounceInLeft
    .project-image
      %a{href: "#{me}js_apps/todo-project/", target: "_blank"}
        %img{src: "#{portfolio}to-do-square.jpg", alt: "To Do"}/
    .project-button
      %h3 Task Manager
      %a.more{href: "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 Task Manager
      %h4 To Do App
      %p JavaScript, Riot.js, jQuery, HTML5 & CSS3.
      %br/
      %p.repo
        %a{href: "#{git}#{js}riot_js/todo-project", target: "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{href: "#{me}js_apps/todo-project/", target: "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInDown
    .project-image
      %a{href: "#{me}js_apps/bakery/", target: "_blank"}
        %img{src: "#{portfolio}bakery-square.jpg", alt: "The Bakery"}/
    .project-button
      %h3 The Bakery
      %a.more{href: "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 The Bakery
      %h4 Create your own Treats
      %p JavaScript, jQuery, HTML5 & CSS3.
      %br/
      %p.repo
        %a{href: "#{git}#{js}bakery", target: "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo
      %p.live
        %a{href: "#{me}js_apps/bakery/", target: "_blank"} 
          %i.fa.fa-link.fa-lg
          &nbspLive
  .project.wow.bounceInRight
    .project-image
      %a{href: "#{git}#{ruby}library", target: "_blank"}
        %img{src: "#{portfolio}library-square.png", alt: "The Library"}/
    .project-button
      %h3 The Library
      %a.more{href: "#"}
        More
    .project-info
      %span.cancel
        %i.fa.fa-times-circle.fa-lg
      %h2 The Library
      %h4 Books Manager for a Library
      %p Ruby, RSpec.
      %br/
      %p.repo
        %a{href: "#{git}#{ruby}library", target: "_blank"} 
          %i.fa.fa-github.fa-lg
          &nbspRepo