- logo = "logos/small/"

.slider.responsive
  %skill
    = image_tag('#{logo}ruby_on_rails.png', alt: "Ruby on Rails")
    %h4 Ruby on Rails
  %skill
    = image_tag('#{logo}javascript.png', alt: "Javascript")
    %h4 JavaScript
  %skill
    = image_tag('#{logo}html5.png', alt: "HTML5")
    %h4 HTML5
  %skill
    = image_tag('#{logo}css3.png', alt: "CSS3")
    %h4 CSS3
  %skill
    = image_tag('#{logo}ruby.png', alt: "Ruby")
    %h4 Ruby
  %skill
    = image_tag('#{logo}jquery.png', alt: "jQuery")
    %h4 jQuery
  %skill
    = image_tag('#{logo}haml.png', alt: "Haml")
    %h4 Haml
  %skill
    = image_tag('#{logo}sass.png', alt: "Sass")
    %h4 Sass
  %skill
    = image_tag('#{logo}coffeescript.png', alt: "CoffeeScript")
    %h4 CoffeeScript
  %skill
    = image_tag('#{logo}git.png', alt: "Git")
    %h4 Git
  %skill
    = image_tag('#{logo}wordpress.png', alt: "Wordpress")
    %h4 Wordpress
  %skill
    = image_tag('#{logo}joomla.png', alt: "Joomla")
    %h4 Joomla