.slider.responsive
  %skill
    = image_tag('logos/ruby_on_rails.png', :alt => "Ruby on Rails")
    %h4 Ruby on Rails
  %skill
    = image_tag('logos/javascript.png', :alt => "Javascript")
    %h4 JavaScript
  %skill
    = image_tag('logos/html5.png', :alt => "HTML5")
    %h4 HTML5
  %skill
    = image_tag('logos/css3.png', :alt => "CSS3")
    %h4 CSS3
  %skill
    = image_tag('logos/ruby.png', :alt => "Ruby")
    %h4 Ruby
  %skill
    = image_tag('logos/jquery.png', :alt => "jQuery")
    %h4 jQuery
  %skill
    = image_tag('logos/haml.png', :alt => "Haml")
    %h4 Haml
  %skill
    = image_tag('logos/sass.png', :alt => "Sass")
    %h4 Sass
  %skill
    = image_tag('logos/coffeescript.png', :alt => "CoffeeScript")
    %h4 CoffeeScript
  %skill
    = image_tag('logos/git.png', :alt => "Git")
    %h4 Git
  %skill
    = image_tag('logos/wordpress.png', :alt => "Wordpress")
    %h4 Wordpress
  %skill
    = image_tag('logos/joomla.png', :alt => "Joomla")
    %h4 Joomla