/ Variables
- photos = "assets/images/photos/"

= partial "hero"

%main
  %section#about.section.contentContainer
    = partial "about"
  
  %section#services.section
    = partial "services"

  %section#skills.section.contentContainer
    = partial "skills"

  %section#quote.section
    .img-holder{"data-height" => "720", 
                "data-image" => "#{photos}big/coding.jpg", 
                "data-image-mobile" => "#{photos}background/coding-square.jpg", 
                "data-width" => "1280"}
  
  %section#experience.section.contentContainer
    = partial "experience"

  %section#quote.section
    .img-holder{"data-height" => "720", 
                "data-image" => "#{photos}big/jorge-freelance.jpg", 
                "data-image-mobile" => "#{photos}background/jorge-freelance-square.jpg", 
                "data-width" => "1280"}

  %section#portfolio.section.contentContainer
    = partial "portfolio"
    
  %section#closing-quote.section
    = partial "closing-quote"

  %section#contact.section
    = partial "contact"